<div class="alert alert-warning full-height">

    <div class="d-grid gap-2">
        <button 
            class="btn btn-secondary"
            [routerLink]="['/home']"
        >
            Home
        </button>
        <button 
            class="btn btn-secondary"
            [routerLink]="['/contact-list']"
        >
            Contact List
        </button>
        <button 
            class="btn btn-secondary"
            [routerLink]="['/add-contact']"
        >
            Add a new contact
        </button>
    </div>
    
</div>